html {
  font-family: "Trebuchet MS",sans-serif;
  font-size: 11pt;
  line-height: 1.5em;
  background-color: #36393D;
}
body {
  width: 940px;
  margin: 1em auto;
  padding: 20px;
  background-color: #FFFFFF;
}
#header {
  color: #FFFFFF;
  background-color: #333366;
}
#logo {
  float: left;
  width: 165px;
  height: 72px;
  background: transparent url(../images/karawane-logo-transparent-weiss.png) left top no-repeat;
}
#header h1 {
  margin: 0;
  padding: 1em;
}
#header h1 a {
  text-decoration: none;
}
#header a:link,
#header a:visited {
  color: #FFFFFF;
}
header #otherworkshops {
  margin: 0 0 1em;
  padding: 0 0.5em 0 0;
  text-align: right;
}
/* ncm removed
#otherworkshops a {
    border: 1px solid black;
    padding: 0.3em;
    text-decoration: none;
}
*/
ul.topnav {
  margin: 0;
  padding: 0;
  list-style: inside none;
}
ul.topnav li {
  float: left;
  border-top: 0.1em solid #FFFFFF;
  border-right: 0.1em solid #FFFFFF;
}
ul.topnav li a,
ul.topnav li span {
  display: block;
  padding: 0.8em 1em;
  text-decoration: none;
}
#topnav_clearing {
  clear: left;
}
#content {
  padding: 1em 0;
}
#sidebar {
  float: left;
  width: 300px;
}
#sidebar nav,
#sidebar section {
  margin: 0 0 1em;
  padding: 0 0 0.4em;
  background-color: #F9F7ED;
}
#sidebar h2 {
  margin: 0;
  padding: 0.4em;
  font-size: 1.2em;
  color: #FFFFFF;
  background-color: #36393D;
}
ul.mainnav {
  margin: 0;
  padding: 0.5em;
  list-style: inside none;
}
ul.mainnav li.child {
  margin-left: 1em;
}
ul.mainnav li.section {
  margin: 1em 0 0;
  font-weight: bold;
  font-size: 1.2em;
}
.sidesponsors ul {
  margin: 0;
  padding: 0;
  list-style: inside none;
}
.sidesponsors li {
  text-align: center;
}
.sidesponsors img {
  max-width: 85%;
}
#document {
  width: 590px;
  margin: 0 0 0 320px;
  padding: 15px;
  background-color: #F9F7ED;
  text-align: justify;
}
#document table {
  text-align: left;
}
body.ui_light #document {
  width: inherit;
  margin: 0;
}
#content_clearing {
  clear: left;
}
#footer {
  padding: 1px;
  text-align: center;
  color: #FFFFFF;
  background-color: #36393D;
}
#footer a:link,
#footer a:visited {
  color: #FFFFFF;
}
#footer div#socialshareprivacy {
  width: 540px;
  margin: 0 auto;
  text-align: left;
  color: #000000;
}
/* Fixes for Wiki */
textarea[name="content"] {
  width: 99%;
}
/*
#stylechoose {
  cursor: pointer;
}
*/
/*
ncm menu: add the .inverse-dropdown class to .dropdown-menu
*/
.inverse-dropdown {
  background-color: #222;
  border-color: #080808;
}
.inverse-dropdown>li>a {
  color: #999;  
}
.inverse-dropdown>li>a:hover {
  color: #fff;
  background-color: #000;
}
.inverse-dropdown>.divider {
  background-color: #000;  
}
/*
ncm: menu - sm-devices 2 lines;
*/
@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}

/* Portrait phones and smaller */
@media (max-width: 480px) {}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}
/* Large desktops and laptops */
@media (min-width: 1200px) {}

@media(max-width: @screen-xs-max){}
@media(min-width: @screen-sm-min){}  
@media(min-width: @screen-md-min){}  
@media(min-width: @screen-lg-min){}

/*ncm: menu - sm-devices 2 lines;*/
@media (min-width: 768px) and (max-width: 991px) {
  #header nav.navbar .navbar-header,
  #header nav.navbar #gpwNavbar {
    display: block;
    float: none; 
  } 
} 
/*
ncm: re-color inverse menu
src:http://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap-3;
*/
/* navbar */
/*
gpwblue #333366
gpwbluemediumdark #232343
gpwbluedark #121221
fast-weiss #ddd
*/
/*gradient löschen*/
#header .navbar-inverse.gpw,
#header .navbar-inverse.gpw .navbar-nav>.active>a, 
#header .navbar-inverse.gpw .navbar-nav>.open>a,
#header .dropdown-menu>li>a:focus, 
#header .dropdown-menu>li>a:hover {
    background-image:none;
    background:none;  
    filter: ;/*reset*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)" !important;
    background-repeat:no-repeat;
}
#header .navbar-inverse.gpw {
    background-color: #333366;/*gpwblue*/
    border-color: #232343;/*gpwbluemediumdark*/
}
/* title */
#header .navbar-inverse.gpw .navbar-brand,
#header .navbar-inverse.gpw .navbar-brand {
    color: #fff;/*weiss*/
}
#header .navbar-inverse.gpw .navbar-brand:hover,
#header .navbar-inverse.gpw .navbar-brand:focus {
    color: #ddd;/*fast-weiss*/
}
/* link */
#header .navbar-inverse.gpw .navbar-nav > li > a {
    color: #fff;/*weiss*/
}
#header .navbar-inverse.gpw .navbar-nav > li > a:hover,
#header .navbar-inverse.gpw .navbar-nav > li > a:focus {
    color: #ddd;/*fast-weiss*/
}
/*ncm: menu - >= md hover effect bg color*/
@media (min-width: 768px) {
  #header .navbar-inverse.gpw .navbar-nav>li:hover,
  #header .navbar-inverse.gpw .navbar-nav>li:focus {
    background-color: #232343;/*gpwbluemediumdark*/
  }
} 
#header .navbar-inverse.gpw .navbar-nav > .active > a, 
#header .navbar-inverse.gpw .navbar-nav > .active > a:hover, 
#header .navbar-inverse.gpw .navbar-nav > .active > a:focus {
    color: #fff;/*weiss #555;*/
    background-color: #121221;/*gpwbluedark*/ 
}
#header .navbar-inverse.gpw .navbar-nav > .open > a, 
#header .navbar-inverse.gpw .navbar-nav > .open > a:hover, 
#header .navbar-inverse.gpw .navbar-nav > .open > a:focus {
    color: #232343;/*gpwbluemediumdark*/
    background-color: #ddd;/*fast-weiss*/
}
#header .navbar-inverse.gpw .navbar-nav .open .dropdown-menu {
  background-color: #333366;/*gpwblue*//*fallback*/
  background: rgba(51, 51, 102, 0.98);/*gpwblue - transparent*/  
}
/* caret */
#header .navbar-inverse.gpw .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;/*weiss*/
    border-bottom-color: #fff;/*weiss*/
}
#header .navbar-inverse.gpw .navbar-nav > .dropdown > a:hover .caret,
#header .navbar-inverse.gpw .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ddd;/*fast-weiss*/
    border-bottom-color: #ddd;/*fast-weiss*/
}
#header .navbar-inverse.gpw .navbar-nav > .open > a .caret, 
#header .navbar-inverse.gpw .navbar-nav > .open > a:hover .caret, 
#header .navbar-inverse.gpw .navbar-nav > .open > a:focus .caret {
    border-top-color: #121221;/*gpwbluedark*/ 
    border-bottom-color: #121221;/*gpwbluedark*/ 
}
/* mobile version */
#header .navbar-inverse.gpw .navbar-toggle {
    border-color: #ddd;/*fast-weiss*/
}
#header .navbar-inverse.gpw .navbar-toggle:hover,
#header .navbar-inverse.gpw .navbar-toggle:focus,
#header .navbar-inverse.gpw .navbar-toggle:active {
    background-color: #ddd;/*fast-weiss*/
}
#header .navbar-inverse.gpw .navbar-toggle .icon-bar {
    background-color: #ddd;/*fast-weiss*/
}
#header .navbar-inverse.gpw .navbar-toggle:hover .icon-bar,
#header .navbar-inverse.gpw .navbar-toggle:focus .icon-bar,
#header .navbar-inverse.gpw .navbar-toggle:active .icon-bar {
    background-color: #333366;/*gpwblue*/
}


/*mobil nav submenu*/
@media (max-width: 767px) {
    #header .navbar-inverse.gpw .navbar-nav .open .dropdown-menu > li > a {
        color: #ddd;/*fast-weiss*//*green;*/
    }
    #header .navbar-inverse.gpw .navbar-nav .open .dropdown-menu > li > a:hover,
    #header .navbar-inverse.gpw .navbar-nav .open .dropdown-menu > li > a:focus,
    #header .navbar-inverse.gpw .navbar-nav .open .dropdown-menu > li > a:active {
        color: #fff;/*weiss*//*yellow;*/
    }
}